// Color Scheme
$clr-primary: rgb(2, 130, 249);


/* FONT */
// Font style
$primary-font: 'Oswald', Helvetica, Arial, sans-serif;

// Font Size
$fs-1: 3rem;
$fs-2: 2rem;
$fs-3: 1.6rem;
$fs-4: 1.3rem;
$fs-5: .9rem;
$fs-6: .6rem;
$fs-7: .5rem;
$fs-6: .4rem;

// Font Weight
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

// Gutters and Spacing
$_size-1: .4em;
$_size-2: .6em;
$_size-3: .8em;
$_size-4: 1em;
$_size-5: 1.3em;
$_size-6: 1.6em;
$_size-7: 1.8em;
$_size-8: 2em;
$_size-9: 3em;

$_space-1: .4rem;
$_space-2: .6rem;
$_space-3: .8rem;
$_space-4: 1rem;
$_space-5: 1.3rem;
$_space-6: 1.6rem;
$_space-7: 1.8rem;
$_space-8: 2rem;
$_space-9: 3rem;


/* SIZES */
$max-container: 1200px;

/* BREAKPOINTS */
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;
